
<footer class="nb-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="row pt-3 pb-3">
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/fda1.png" alt="">
          </div>
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/un.png" alt="">
          </div>
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/hhs.png" alt="">
          </div>
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/dha.png" alt="">
          </div>
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/cms.png" alt="">
          </div>
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/nih.png" alt="">
          </div>
          <div class="col p-3">
            <img height="50" src="../../../assets/Logo/sba.png" alt="">
          </div>
        </div>

      </div>
    </div>
    <div class="row ml-1 mr-1">
      <div class="col-12 col-xs-12">
        <div class="row pt-3 pb-3">
      <div class="col">
        <div class="footer-info-single">
          <ul class="list-unstyled">
            <li class="nav-item my-2 text-md-left text-sm-center"><a class="nav-link" href="#" title="">
                <h3>HOME</h3>
              </a>
            </li>
            <li class="nav-item my-2 text-md-left text-sm-center"><a class="nav-link" href="#" title="">
                <h3>ABOUT</h3>
              </a></li>
            <li class="nav-item my-2 text-md-left text-sm-center"><a class="nav-link" href="#" title="">
                <h3>LINK</h3>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="footer-info-single">
          <ul class="list-unstyled">
            <li class="nav-item my-2 text-center"><a class="nav-link" href="#" title="">
              <h3>LINK</h3>
              </a>
            </li>
            <li class="nav-item my-2 text-center"><a class="nav-link" href="#" title="">
              <h3>LINK</h3>
              </a></li>
            <li class="nav-item my-2 text-center"><a class="nav-link" href="#" title="">
              <h3>LINK</h3>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="footer-info-single">
          <ul class="list-unstyled">
            <li class="nav-item my-2 text-md-right text-sm-center"><a class="nav-link" href="#" title="">
              <h3>LINK</h3>
              </a>
            </li>
            <li class="nav-item my-2 text-md-right text-sm-center"><a class="nav-link" href="#" title="">
              <h3>LINK</h3>
              </a></li>
            <li class="nav-item my-2 text-md-right text-sm-center"><a class="nav-link" href="#" title="">
              <h3>LINK</h3>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      </div>
    </div>


    <!-- <div class="row p-3">
      <div class="col-12">
        <p class="text-center footer-font">fidl@FDA.HHS.COM | 301.854.1326</p>

      </div>
    </div> -->
  </div>


</footer>
