<div class="col-md-11 col-sm-11 col-xs-11">
  <div class="row">
    <ul class="list-unstyled mb-5 mt-2">
      <li class="media">
        <img class="mr-4 fit-image" src="assets/Background/News/entrepreneur-1340649_1920.jpg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Article 1</h5>
          <span class="text-content">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            <br />
            <button class="btn btn-sm mt-3 shadow-none details"> View Details</button>
          </span>
        </div>
      </li>
      <li class="media my-4">
        <img class="mr-4 fit-image" src="../../../../assets/Background/News/laptop-2557571__480.webp"
          alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Article 2</h5>
          <span class="text-content">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            <br />
            <button class="btn btn-sm mt-3 shadow-none details"> View Details</button>
          </span>
        </div>
      </li>
      <li class="media">
        <img class="mr-4 fit-image" src="../../../../assets/Background/News/laptop-3196481_1920.jpg"
          alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Article 3</h5>
          <span class="text-content">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
            <br />
            <button class="btn btn-sm mt-3 shadow-none details"> View Details</button>
          </span>
        </div>
      </li>
    </ul>
  </div>

</div>
