<div class="bg">
  <div id="Path_17676">


    <video id="myVideo" poster="../../../assets/banner-homepage-ird.jpg">
      <source src="assets/Sample.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>



    <div class="p-4 mb-4 ml-4 title-container">
      <div class="h-font text-white mt-3" style="font-weight: 500; font-size: 18px;">
        FDA REQUIRES A SECURE PLATFORM FOR REAL-TIME ACCESS
      </div><br>
      <div class="text-white mb-3 f-14">
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
      </div>

    </div>

    <div class="p-3 mr-5 mb-5 video-play-button" (click)="myFunction()">
      <i style="font-size: 250%; color: #fff;" id="myBtn" class="fa fa-play-circle"></i>

    </div>
  </div>
</div>



<div class="mt-3 mb-2" style="overflow-x: hidden;" id="section-2">
  <div class="row p-3">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <h2 class="text-header text-uppercase col-md-12 col-sm-12 col-xs-12">
        FIDL SHARED SERVICE APPLICATIONS
      </h2>


      <div class="row mt-5">
        <div class="col-12">
          <div class="row container mt-2 mb-4">
            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

              <div class="shadow-1 bg-white text-center bgCoverCard"
                style="background-image: url('../../../assets/513342_preview.png')" id="digital-strategy">
                <div id="bgCoverColor">
                  <div class="p-3">

                    <div class="pl-4 pr-4 mt-4 mb-4">
                      <div class="row">
                        <span class="card-box-header">
                          RStudio
                        </span>
                      </div>
                      <div class="row mt-4 mb-4">
                        <span class="card-box-text ellipsis-text" style="height: 110px;">
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                        </span>
                      </div>
                    </div>

                  </div>

                  <button class="btn btn-primary text-center card-box-button mb-3"
                    style=" width: 80%; background: rgba(255,255,255,0.5);">
                    Learn More
                  </button>
                </div>



              </div>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

              <div class="shadow-1 bg-white text-center bgCoverCard"
                style="background-image: url('../../../assets/516089.png')" id="digital-strategy">
                <div id="bgCoverColor">
                  <div class="p-3">

                    <div class="pl-4 pr-4 mt-4 mb-4">
                      <div class="row">
                        <span class="card-box-header">
                          Tableu
                        </span>
                      </div>
                      <div class="row mt-4 mb-4">
                        <span class="card-box-text ellipsis-text" style="height: 110px;">
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                        </span>
                      </div>
                    </div>

                  </div>

                  <button class="btn btn-primary text-center card-box-button mb-3"
                    style=" width: 80%; background: rgba(255,255,255,0.5);">
                    Learn More
                  </button>
                </div>



              </div>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

              <div class="shadow-1 bg-white text-center bgCoverCard"
                style="background-image: url('../../../assets/circuit-wallpaper-1080p-89586.jpg')"
                id="digital-strategy">
                <div id="bgCoverColor">
                  <div class="p-3">

                    <div class="pl-4 pr-4 mt-4 mb-4">
                      <div class="row">
                        <span class="card-box-header">
                          Linguamatics
                        </span>
                      </div>
                      <div class="row mt-4 mb-4">
                        <span class="card-box-text ellipsis-text" style="height: 110px;">
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                        </span>
                      </div>
                    </div>

                  </div>

                  <button class="btn btn-primary text-center card-box-button mb-3"
                    style=" width: 80%; background: rgba(255,255,255,0.5);">
                    Learn More
                  </button>
                </div>



              </div>

            </div>

            <div class="col-md-4 mb-5">

              <div class="shadow-1 bg-white text-center bgCoverCard"
                style="background-image: url('../../../assets/holographic-mobile-device-technology-qmlem20qln6khhmy.jpg')"
                id="digital-strategy">
                <div id="bgCoverColor">
                  <div class="p-3">

                    <div class="pl-4 pr-4 mt-4 mb-4">
                      <div class="row">
                        <span class="card-box-header">
                          Pearl
                        </span>
                      </div>
                      <div class="row mt-4 mb-4">
                        <span class="card-box-text ellipsis-text" style="height: 110px;">
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                        </span>
                      </div>
                    </div>

                  </div>

                  <button class="btn btn-primary text-center card-box-button mb-3"
                    style=" width: 80%; background: rgba(255,255,255,0.5);">
                    Learn More
                  </button>
                </div>



              </div>

            </div>

            <div class="col-md-4 mb-5">

              <div class="shadow-1 bg-white text-center bgCoverCard"
                style="background-image: url('../../../assets/thumb2-microchip-neon-lines-black-background-chips-technology-backgrounds.jpg')"
                id="digital-strategy">
                <div id="bgCoverColor">
                  <div class="p-3">

                    <div class="pl-4 pr-4 mt-4 mb-4">
                      <div class="row">
                        <span class="card-box-header">
                          Peridot
                        </span>
                      </div>
                      <div class="row mt-4 mb-4">
                        <span class="card-box-text ellipsis-text" style="height: 110px;">
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                        </span>
                      </div>
                    </div>

                  </div>

                  <button class="btn btn-primary text-center card-box-button mb-3"
                    style=" width: 80%; background: rgba(255,255,255,0.5);">
                    Learn More
                  </button>
                </div>



              </div>

            </div>

            <div class="col-md-4 mb-5">

              <div class="shadow-1 bg-white text-center bgCoverCard"
                style="background-image: url('../../../assets/1892752.jpg')" id="digital-strategy">
                <div id="bgCoverColor">
                  <div class="p-3">

                    <div class="pl-4 pr-4 mt-4 mb-4">
                      <div class="row">
                        <span class="card-box-header">
                          Rapid Data Hub
                        </span>
                      </div>
                      <div class="row mt-4 mb-4">
                        <span class="card-box-text ellipsis-text" style="height: 110px;">
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                        </span>
                      </div>
                    </div>

                  </div>

                  <button class="btn btn-primary text-center card-box-button mb-3"
                    style=" width: 80%; background: rgba(255,255,255,0.5);">
                    Learn More
                  </button>
                </div>



              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mt-4">
      <div class="card p-3 shadow-1"
        style="margin-left: -60px; box-shadow: none; border: 1px solid rgb(207, 207, 207); border-radius: 2%;">
        <h5 class="text-header text-uppercase col-12" style=" text-decoration: underline;">
          Latest News
        </h5>

        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>

        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>


        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>


        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>


        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>


        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>


        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>


        <div class="mt-1 p-3" style="border-bottom: 1px solid silver;">
          <div>
            <span class="mt-2 mb-2"><b>FIDL New user experience main page</b></span><br />
            <span class="float-left mt-2">Jan 14, 2021</span><span class="float-right mt-2" style="color: #2e73dc;">View
              >>>></span>
          </div>
        </div>



      </div>

    </div>
  </div>

</div>


<div style="background-color:  rgba(247,247,247,1) !important; overflow-x: hidden;" id="section-4">
  <div class="container">
    <div class="row mt-2 mb-4">
      <div class="col-md-12 col-sm-12">
        <h2 class="text-header text-uppercase mt-4 text-center mb-2">
          Cloud Community
        </h2>
        <div class="row">
          <span class="text-content h12 mt-3 mt-2">Lorem ipsum dolor sit amet, eam ad diceret laoreet, aeque congue
            copiosae
            usu an. Iuvaret percipit consetetur quo ut. Vivendum detraxit vis ne, paulo intellegam no vix. Eius perfecto
            philosophia eu vim.
          </span>
        </div>
      </div>
      <div class="row col mb-3 mt-3">

        <div class="col mt-4 mb-4">
          <img src="assets/Background/CyberSecurity/Group_1408.png" alt="">
        </div>
        <div class="col mt-4 mb-4">
          <img src="assets/Background/CyberSecurity/Group_1413.png" alt="">
        </div>
        <div class="col mt-4 mb-4">
          <img src="assets/Background/CyberSecurity/Group_1423.png" alt="">
        </div>
        <div class="col mt-4 mb-4">
          <img src="assets/Background/CyberSecurity/Group_1428.png" alt="">
        </div>
        <div class="col mt-4 mb-4">
          <img src="assets/Background/CyberSecurity/Group_1418.png" alt="">
        </div>
        <!-- <div class="col mt-4 mb-4">
        <img src="../../../assets/Background/Solutions/away.png" alt="">
      </div> -->
      </div>
      <div class="mb-5">

      </div>
      <div class="mb-5">

      </div>
      <div class="mb-5">

      </div>
    </div>
  </div>
</div>


<div id="join-us">
  <div class="bg-team">
    <div id="Path_stories">
      <div class="container">
        <div class="col-md-12 col-sm-12 p-3">
          <h2 class="text-header text-uppercase text-white mt-5 mb-4">
            Feedback
          </h2>
          <div class="row mb-5 mt-4">
            <span class="text-content h12 mt-3 text-white">Lorem ipsum dolor sit amet, eam ad diceret laoreet, aeque
              congue copiosae usu an. Iuvaret percipit consetetur quo ut. Vivendum detraxit vis ne, paulo intellegam no
              vix. Eius perfecto philosophia eu vim.</span>
          </div>
          <div class="mb-5">
            <button class="btn btn-lg btn-primary"
              style="background-color: transparent; border: 1px solid white;">Submit Feedback</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
