#Path_17676 {
  /* opacity: 0.574; */
  background-color: rgba(40,59,142,.574);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg {
  /* The image used */
  /* background-image: url("../../../assets/Background/homebackfirst1.png"); */

  /* Full height */
  height: 100%;
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* opacity: 0.574;
  background-color: rgba(40,59,142,1); */

}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}










h2 {

line-height: 30px;
font-size: 20px;
text-align: left;
font-style: normal;
font-weight: bold;
color: rgba(0,23,113,1);
text-transform: uppercase;
}


.bg-team {
  /* The image used */
  background-image: url("../../../assets/Background/AdobeStock_310081065.png");

  /* Full height */
  height: 100%;
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* opacity: 0.574;
  background-color: rgba(40,59,142,1); */


}
#Path_stories{
  opacity: 0.608;
  background-color: rgba(40,59,142,1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
