


<div class="container">
  <div class="col-md-12 col-sm-12 p-4">
    <h2 class="text-header text-uppercase mt-4">
      CORE CAPABILITIES
    </h2>
    <div class="row">
      <span class="text-content h12 mt-3">Our mission is to deliver the customers vision into reality. We are what they want us to be. We roll our sleeves up and get the job done!</span>
    </div>
  </div>




  <div class="row mt-3">
    <div class="col-12">
      <div class="row container mt-2 mb-4">
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_27.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-5">

                <div class="pl-4 pr-4 mt-4 mb-4">
                  <div class="row">
                    <span class="card-box-header">
                      FiDLE is an ecoysystem
                    </span>
                  </div>
                  <div class="row mt-4 mb-4">
                    <span class="card-box-text ellipsis-text" style="height: 110px;">
                      FiDLE is an ecoysystem within the AWS Gov Cloud High Environment, as it’s part of the larger AWS Gov Cloud environment which can store highly sensitive data, has a compute and storage capabilities that are highly scalable and comes with native tools that users can use for their projects the moment their onboarded. This environment provides a strong foundation to climb up the level in FDA’s data maturity model.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_27.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-5">

                <div class="pl-4 pr-4 mt-4 mb-4">
                  <div class="row">
                    <span class="card-box-header">
                      What is FDA’s Data Maturity Model?
                    </span>
                  </div>
                  <div class="row mt-4 mb-4">
                    <span class="card-box-text ellipsis-text" style="height: 110px;">
                      The Federal Government Data Maturity Model is one that measure the scope of technological advancement and integration in terms of data management across the Federal Government. At the lowest maturity level, data is very siloed and at the highest, data is managed in consideration of agency-wide needs. This is why FiDLE is one of the Key driver initiatives in FDA’s Data Modernization Action Plan (DMAP)

                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-12">
      <div class="row container mt-2 mb-4">
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_27.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-5">

                <div class="pl-4 pr-4 mt-4 mb-4">
                  <div class="row">
                    <span class="card-box-header">
                      FiDLE allows privileged access
                    </span>
                  </div>
                  <div class="row mt-4 mb-4">
                    <span class="card-box-text ellipsis-text" style="height: 110px;">
                      FiDLE allows privileged access and authority to use data sources that FiDLE is already connected to so users can establish their own sandbox and start working with connected data sources on day 1. Users can build and deploy workloads within the necessary boundaries of security, access, and billing that are inbuilt within the FiDLE architecture. The use of multiple accounts allows users to set up their IT infrastructure in a way that reflects the needs of their business processes or requirements. On-demand Sandboxes can be granted instantly, and data can be ingested automatically in the user’s environment – users will also be connected to a plethora of available tools in the tools portfolio. Users will be able to easily share costs and results with other team members.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_27.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-5">

                <div class="pl-4 pr-4 mt-4 mb-4">
                  <div class="row">
                    <span class="card-box-header">
                      FiDLE provides a scalable cloud storage
                    </span>
                  </div>
                  <div class="row mt-4 mb-3">
                    <span class="card-box-text ellipsis-text" style="height: 80px;">
                    Most importantly, FiDLE provides a scalable cloud storage and compute power which will fetch results expeditiously.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
