

<div class="container">
  <div class="col-md-12 col-sm-12 p-4">
    <h2 class="text-header text-uppercase mt-4">
      WHO WE ARE?
    </h2>
    <div class="row">
      <span class="text-content h12 mt-3">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat!</span>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-12">
      <div class="row container mt-2 mb-4">
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_27.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-4">
                <div>
                  <div class="pt-3 pb-5" style="margin-left: 66%;">
                    <img src="../../../assets/Background/Capabilities/settings.png" height="80" alt="">
                  </div>
                </div>
                <div class="pl-4 pr-4">
                  <div class="row">
                    <span class="card-box-header">
                      DIGITAL STRATEGY
                      & TRANSFORMATION
                    </span>
                  </div>
                  <div class="row mt-3 mb-3">
                    <span class="card-box-text ellipsis-text" style="height: 64px;">
                      Our mission is to deliver the customers vision into reality. We are chameleons.
                      Our mission is to deliver the customers vision into reality. We are chameleons.
                      Our mission is to deliver the customers vision into reality. We are chameleons.

                       Our mission is to deliver the customers vision into reality. We are chameleons.
                       Our mission is to deliver the customers vision into reality. We are chameleons.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button [routerLink]="['/digital-strategy']" class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_29.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-4">
                <div>
                  <div class="pt-3 pb-5" style="margin-left: 66%;">
                    <img src="../../../assets/Background/Capabilities/cloud.png" height="80" alt="">
                  </div>
                </div>
                <div class="pl-4 pr-4">
                  <div class="row">
                    <span class="card-box-header">
                      CLOUD
                      COMPUTING
                    </span>
                  </div>
                  <div class="row mt-3 mb-3">
                    <span class="card-box-text ellipsis-text" style="height: 64px;">
                      Our mission is to deliver the customers vision into reality. We are chameleons.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button [routerLink]="['/cloud-computing']" class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
      </div>


      <div class="row container mb-4">
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_31.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-4">
                <div>
                  <div class="pt-3 pb-5" style="margin-left: 66%;">
                    <img src="../../../assets/Background/Capabilities/chip.png" height="80" alt="">
                  </div>
                </div>
                <div class="pl-4 pr-4">
                  <div class="row">
                    <span class="card-box-header">
                      APPLICATION
                      MODERNIZATION
                    </span>
                  </div>
                  <div class="row mt-3 mb-3">
                    <span class="card-box-text ellipsis-text" style="height: 64px;">
                      Our mission is to deliver the customers vision into reality. We are chameleons.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button [routerLink]="['/app-modernization']" class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_33.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-4">
                <div>
                  <div class="pt-3 pb-5" style="margin-left: 55%;">
                    <img src="../../../assets/Background/Capabilities/time.png" height="80" alt="">
                  </div>
                </div>
                <div class="pl-4 pr-4">
                  <div class="row">
                    <span class="card-box-header">
                      DATA SCIENCE AND
                      ENGINEERING
                    </span>
                  </div>
                  <div class="row mt-3 mb-3">
                    <span class="card-box-text ellipsis-text" style="height: 64px;">
                      Our mission is to deliver the customers vision into reality. We are chameleons.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button [routerLink]="['/data-science']" class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
      </div>


      <div class="row container mb-4">
        <div class="col mb-4">

          <div class="shadow-1 bg-white text-center bgCoverCard" style="background-image: url('../../../assets/Background/Capabilities/Mask_Group_34.png')" id="digital-strategy">
            <div id="bgCoverColor">
              <div class="p-4">
                <div>
                  <div class="pt-3 pb-5" style="margin-left: 66%;">
                    <img src="../../../assets/Background/Capabilities/lock.png" height="80" alt="">
                  </div>
                </div>
                <div class="pl-4 pr-4">
                  <div class="row">
                    <span class="card-box-header">
                      CYBER
                      SECURITY
                    </span>
                  </div>
                  <div class="row mt-3 mb-3">
                    <span class="card-box-text ellipsis-text" style="height: 64px;">
                      Our mission is to deliver the customers vision into reality. We are chameleons.
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <button [routerLink]="['/cyber-security']" class="btn btn-block btn-lg btn-primary p-4 text-right card-box-button" style=" font-size: 18px; font-weight: bold;">
            Learn More
          </button>
        </div>
        <div class="col mb-4">

          <div class="text-center" id="digital-strategy" style="background-color: rgba(112,112,112,.082); height: 380px;">
            <div>
              <div class="p-3">

                <div class="p-5">
                  <div class="row">
                    <span class="text-header-center" style="font-weight: bold; font-size: 20px; color: rgba(40,59,142,1);">
                      HAVE ANY QUESTIONS?
                    </span>
                  </div>
                  <div class="row mt-5">
                    <span style="font-weight: normal; font-size: 18px; color: rgba(112,112,112,1)">
                      Are you interested in our services? We offer top notch services to our clients. We look forward to hearing from you.
                    </span>
                  </div>
                </div>

                <button class="btn btn-lg btn-primary text-right mb-4 shadow-none p-3">
                  Contact Us
                </button>
              </div>



            </div>



          </div>

        </div>
      </div>


      <div class="mb-5"></div>
      <div class="mb-5"></div>
    </div>
  </div>
</div>
