<div class="bg">
  <div id="Path_stories">
    <div class="p-4 pageHeader vertical-header-center ml-5">
      ABOUT US
    </div>
  </div>
</div>

<div class="p-3" style="background-color: rgba(0,112,209,1); overflow: hidden;">
  <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
    <li class="nav-item">
      <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab" role="tab">WHO WE ARE?</a>
    </li>
    <li class="nav-item">
      <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">WHY WE ARE?</a>
    </li>
    <li class="nav-item">
      <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">WHAT WE ARE?</a>
    </li>
    <li class="nav-item">
      <a aria-controls="how" aria-selected="false" class="nav-link" data-toggle="tab" href="#how" id="how-tab" role="tab">HOW WE ARE?</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent" style="overflow: hidden;">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <app-who-about></app-who-about>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  <div class="tab-pane fade" id="how" role="tabpanel" aria-labelledby="how-tab">...</div>
</div>



