<div class="container">
  <div class="container" style="overflow-x: hidden;" id="section-2">
    <div class="col-12 p-4">



      <div class="row p-4">
        <div class="col-12 p-3">
          <div class="row mt-5 mb-4">
            <div class="col-4 float-left text-center">
              <h2 class="text-center"> OVERVIEW OF THE SERVICE OFFERING</h2> <br>
              <img src="assets/Background/CyberSecurity/Group 1530.png" height="120" alt="">

            </div>
            <div class="col-8 float-left text-content h12">FiDLE was designed to solve a number of issues that center around security, interoperability, scalability and machine learning availability. FiDLE has secure direct connectivity to data centers and a secure way of connecting to external data sources. FiDLE’s muti-account architecture is a foundation for inter-agency data sharing. It enables users to experiment, innovate, and scale quickly, all while providing a flexible and secure cloud environment. FiDLE provides a shareable enterprise tools platform that uses tools and technologies that FDA has already invested in. FiDLE will offer different visualization tools to pick from within the tools portfolio. FiDLE provides a machine learning (ML) workspace with pre-built servers that include pre-installed R and Python packages. The FiDLE platform also provides pre-trained ML models, algoritms, and ML accelerators that are readily available to execute for a variety of projects.

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>



