<div class="container">
  <div class="container" style="overflow-x: hidden;" id="section-2">
    <div class="col-12 p-4">



      <div class="row p-4">
        <div class="col-12 p-3">
          <div class="row mt-5 mb-4">
            <div class="col-4 float-left text-center">
              <h2 class="text-center"> OVERVIEW OF THE SERVICE OFFERING</h2> <br>
              <img src="assets/Background/CyberSecurity/Group 1530.png" height="120" alt="">

            </div>
            <div class="col-8 float-left text-content h12 mt-3">Our comprehensive cloud services optimize costs through data center footprint reduction by creatively pushing compute loads to newer, higher capacity solutions in the cloud to accelerate speed of delivery and technical execution <br><br>

              Our cloud advisory allows IT leaders to deliver business services that are more customer and service focused, resulting in a better customer experience, and providing standardization, governance, and increased IT visibility across the agencies we support

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>



<div class="mt-3" style="overflow-x: hidden; background-color: rgb(236, 238, 240) !important;" id="section-2">

  <div class="container">
    <div class="container">
      <div class="col-12 p-3">
        <h2 class="text-header text-uppercase  col-12 mt-3">
          Delivering customers vision in
          <br>
          Governments | industry | People
        </h2>


        <div class="row p-3">
          <div class="col-12 p-3">
            <div class="row mb-4">
              <div class="col-4 float-left text-content h12 mt-3"><span class="dot mr-3"></span>Who are we</div>
              <div class="col-8 float-left text-content h12 mt-3">We are a unique, pure-play platform
                delivering business transformation and application modernization for the US Federal Healthcare Community
              </div>
            </div>

            <hr>

            <div class="row mt-4 mb-4">
              <div class="col-4 float-left text-content h12 mt-3"><span class="dot mr-3"></span>What we do</div>
              <div class="col-8 float-left text-content h12 mt-3">Enabling clients to realize the full potential of digital
                transformation and IT modernization through strategic consulting, disruptive technology integration and
                agile software development</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
